%body
  %h1 Nominated authors

  %table
    %thead
      %tr
        %th First name
        %th Surname
        %th Bio
        %th
        %th
        %th

    %tbody
      - @authors.each do |author|
        %tr{id: "author#{author.id}"}
          %td= author.first_name
          %td= author.surname
          %td= author.bio
          %td= link_to 'Show', author
          %td= link_to 'Edit', edit_author_path(author)
          %td= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true

    %br

    = link_to 'New Author', new_author_path
