!!!
%html{:lang => "en"}
  %head
    %title Author Details
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
  %body
    = render "shared/header"

    .content
      %p#notice= notice

      %p
        %b First name:
        = @author.first_name
      %p
        %b Surname:
        = @author.surname
      %p
        %b Bio:
        = @author.bio

      %p Nominated works:
      %table
        %tbody
        - @author.literary_works.each do |literary_work|
          %tr
            %td= literary_work.title
            %td= link_to 'Show', literary_work
            %td= link_to 'Edit', edit_literary_work_path(literary_work)
            %td= link_to 'Destroy', literary_work, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %p= link_to 'Add Literary Work', new_literary_work_path(author_id: @author)

      = link_to 'Edit', edit_author_path(@author)
      \|
      = link_to 'Back', authors_path

    = render "shared/footer"
