 %body
  .about-left
    %h1= t('.title')
    %p= t('.history1')
    %p= t('.history2')
    %p= t('.history3')
    %p= t('.history4')
  .about-right
    = image_tag( 'jadwiga-zajdel.jpg')
    %p= t('.img-description')
