 %body
  .about-left
    %h1= t('.title')
    %p= t('.about-zajdel1')
    %p= t('.about-zajdel2')
    %p= t('.about-zajdel3')
    %p= t('.about-zajdel4')
  .about-right
    = image_tag( 'zajdel a janusz 2.jpg')
    %p= t('.img-description')
