%body
  .content
    .about-left
      %h2= t('.title')
      %p= t('.voting1')
      %p= t('.voting2')
      %p= t('.voting3')
    .about-right
      = image_tag( 'zajdel-booth.jpg')
      %p= t('.img-description')
